Gmail AI Reply.json
{
  "name": "Gmail AI Reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -280,
        0
      ],
      "id": "60403f1d-efaf-43c8-9b55-55df53188a5e",
      "name": "check for new Mail",
      "credentials": {
        "gmailOAuth2": {
          "id": "CfO0XDN7q9tQ2pSO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -60,
        0
      ],
      "id": "3bfaef7c-e418-4086-96b2-c9272659c22e",
      "name": "Get a message",
      "webhookId": "a32dd9c7-c105-4f70-b70b-3103fae008d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "CfO0XDN7q9tQ2pSO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a email responding agent. \n\n\nBelow are the content of latest email I got.\n\nSubject : {{ $json.Subject }}\n\nBody : {{ $json.snippet }}\n\nYou have to do 2 things, \n\n1. specify the label based on the email.\nUse the tool to get all the labels and there Id and mention both of them properly.\n\nlabel can be one of below : \n\ncourse,\ndoubts,\nsponsorship\n\n2. As a smart assistant please draft the response for me so that I can reply to my email. with subject and body\n\nMake sure that reply is very respectable and wherever required please explain student doubt in depth with example and alsp make sure that reply follow a strict HTML format so it is easy to read.\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "7dc34543-e087-4ba4-995f-e13738e5162f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        220
      ],
      "id": "ba1f29be-246b-4823-bcba-ec85e8d1e67a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TpD0mYe1IzRXZvBh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"label\":\"doubt\",\n  \"label_id\":\"12423512\",\n  \"subject\":\"doubt_answer\",\n  \"body\":\"Hey Thanks for reaching out\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        440,
        240
      ],
      "id": "ccc217f2-9d5f-46da-b000-db57cdd0fa59",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        520,
        0
      ],
      "id": "a63ba4d7-aaaa-4fa7-8913-f1f8d0a1664b",
      "name": "Add label to message",
      "webhookId": "a065183a-8cc6-4b30-8ffc-6710e3a39b74",
      "credentials": {
        "gmailOAuth2": {
          "id": "CfO0XDN7q9tQ2pSO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        300,
        340
      ],
      "id": "7a04a8ed-8058-4c68-a670-a99b771b1d38",
      "name": "Get many labels in Gmail",
      "webhookId": "c8e2386a-c2ee-4a57-abff-11b292fb06d0",
      "credentials": {
        "gmailOAuth2": {
          "id": "CfO0XDN7q9tQ2pSO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "sendTo": "={{ $('Get a message').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        740,
        0
      ],
      "id": "e24fa874-a39e-4f04-b968-d7b8009c2137",
      "name": "Create a draft",
      "webhookId": "82b6b0e0-8288-42ef-9630-015995e83bb5",
      "credentials": {
        "gmailOAuth2": {
          "id": "CfO0XDN7q9tQ2pSO",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "check for new Mail": [
      {
        "json": {
          "id": "197fbea7e5184107",
          "threadId": "197fbea5db9b6e5b",
          "snippet": "PLease help in mastering n8n",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 601,
          "historyId": "4810",
          "internalDate": "1752278138000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "Doubts",
          "From": "Mayank Aggarwal <aiwithmayank@gmail.com>",
          "To": "Mayank Aggarwal <aiwithmayank@gmail.com>"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "label": "doubts",
            "label_id": "Label_9122968551863008153",
            "subject": "Re: Doubts",
            "body": "<html><body><p>Dear Student,</p><p>Thank you for reaching out with your query regarding mastering n8n. I'd be happy to help you with this.</p><p>n8n is a powerful workflow automation tool that allows you to connect various apps and services to automate tasks without extensive coding knowledge.</p><p>To start mastering n8n, here are a few tips:</p><ul><li>Understand the basics of workflow automation and how nodes work in n8n.</li><li>Explore the n8n documentation and tutorials available on their official website to become familiar with different nodes and triggers.</li><li>Practice by creating simple automation workflows, such as sending an email when a form is submitted.</li></ul><p>For example, you can create a workflow that triggers when you receive an email, extracts the attachments, and saves them to a cloud storage service like Google Drive automatically.</p><p>If you have specific questions or areas you want to focus on within n8n, please let me know so I can provide more targeted assistance.</p><p>Best regards,<br>Your Instructor</p></body></html>"
          }
        }
      }
    ]
  },
  "connections": {
    "check for new Mail": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6839e65b-3fd7-4e4c-92a3-24a248183593",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "470abe64dbe6aedf026d5e82b6678dbb6d54ed3d3fc1cd80d0b0b3449ccaf233"
  },
  "id": "5mMASGnt8FJ7tbxT",
  "tags": [
    {
      "createdAt": "2025-07-11T23:53:09.323Z",
      "updatedAt": "2025-07-11T23:53:09.323Z",
      "id": "2KuRq8OUXpT3KSgh",
      "name": "gmail"
    }
  ]
}